@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Play:wght@700&display=swap');

*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
	background-color: #fafaf5;
}




/*navigation bar*/
nav{
	background: #fafaf5;
	height: 100px;
	width: 100%;
	position: fixed;
}

label.logo{
	color: #19914f;
	font-size: 38px;
	line-height: 100px;
	padding: 0 60px;
	font-weight: bold;
	font-family: 'Play', sans-serif;
}

nav ul{
	float: right;
	margin-right: 40px;
}

nav ul li{
	display: inline-block;
	line-height: 100px;
	margin: 0 10px;
}

nav ul li a{
	color: #575757;
	font-size: 18px;
	font-weight: bold;
}

a:hover{
	transition: 0.5s;
	color: #19914f;
}


/*content*/
section {
	padding-top: 100px;
}




/*image & button*/

.centered {
	width: 100%;
	height: 90vh;
	background: url(images/writtencode.png);	
	background-position: center;	
	background-size: cover;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
}

.centered h1 {
	color: #96ffb8;
	font-size: 2vw;
	padding: 15px;
}

.centered p {
	color: #fafaf5;
	font-size: 1vw;
	padding: 5px;
}

.centered a {
	color: #fafaf5;
	background: #19914f;
	padding: 18px;
	border-radius: 36px;
	font-size: 1.25vw;
}

.centered a:hover {
	color: #575757;
	background: #96ffb8;
}





/*expand button*/
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 100px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check{
	display: none;
}





/*smaller size*/
@media (max-width: 952px) {
	body{
		padding-top: 0px;
	}
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}

	nav ul li a{
		font-size: 15px;
	}

	.centered {
 		width: 100%;
 		height: 70vh;
	}

}





/*phone width*/
@media (max-width: 858px){
	.checkbtn{
		display: block;
		color: #575757;
	}

	label.logo{
		font-size: 30px;
		padding-left: 20px;
	}

	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #fafaf5;
		top: 100px;
		left: -100%;
		text-align: center;
		transition: all 0.5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}

	nav ul li a{
		font-size: 20px;
	}

	a:hover{
		color: #19914f;
	}

	#check:checked ~ ul{
		left: 0;
	}

	.centered {
 		width: 100%;
 		height: 50vh;
        font-size: 3vw;
	}

}




/*footer*/
.footer {
	margin-top: 0px;
	padding-top: 60px;
	padding-bottom: 60px;
	width: 100%;
	background-color: #19914f;
	color: white;
  	text-align: center;
}

.footer p {
	color: #96ffb8;
	padding: 5px;
}

.footer a {
	color: #96ffb8;
}

.footer h1 {
	color: #19914f;
}

.footer a:hover {
	color: #fafaf5;
}
