@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Play:wght@700&display=swap');


*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
	background-color: #fafaf5;
}






/*navigation bar*/
nav{
	background: #fafaf5;
	height: 100px;
	width: 100%;
	position: fixed;
	z-index: 100000000;

	-webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

label.logo {
	padding: 30px;
	padding-left: 40px;
	display: inline-flex;
}

/*label.logo h2{
	color: #19914f;
	font-size: 38px;
	line-height: 100px;
	font-weight: bold;
	padding-left: 15px;
	padding-bottom: 40px;
	font-family: 'Play', sans-serif;
}*/

label.logo img {
	height: 50px;
	text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}

nav ul{
	float: right;
	margin-right: 40px;
}

nav ul li{
	display: inline-block;
	line-height: 100px;
	margin: 0 10px;
}

nav ul li a{
	color: #575757;
	font-size: 18px;
	font-weight: bold;
}

a:hover{
	transition: 0.5s;
	color: #19914f;
}


/*content*/
section {
	padding-top: 100px;
}







/*image & button, index*/

.centered {
	width: 100%;
	height: 90vh;
	background: url(images/writtencode3.png);	
	background-position: center;	
	background-size: cover;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
}
{
	height: 40vh;
}
.centered h1 {
	color: #96ffb8;
	font-size: 3.5vw;
	padding: 15px;
}

.centered p {
	color: #fafaf5;
	font-size: 1.5vw;
	padding: 5px;
	align-items: left;
}

.centered .last-section p {
	padding-bottom: 25px;
}

.centered a {
	color: #fafaf5;
	background: #19914f;
	padding: 18px;
	border-radius: 36px;
	font-size: 1.5vw;
}

.centered a:hover {
	color: #575757;
	background: #96ffb8;
}









/*meet the team sections*/


.people-top {
	width: 50%;
	align-items: center;
	display: flex;
	padding: 20px;
	margin: auto;
}

.people {
	align-items: center;
	display: flex;
	padding: 20px;
	margin: auto;
	padding-bottom: 80px;
}


.person-top {
	width: 50%;
	display: block;
	align-items: center;
	text-align: center;
	margin: auto;
}

.person {
	width: 50%;
	display: block;
	align-items: center;
	text-align: center;
	margin: auto;
}

.person img, .person-top img {
	height: 200px;
	width: auto;

	border-radius: 50%;
	padding: 15px;
}

.person h3, .person-top h3 {
	font-size: 1.2em;
}

.person p, .person-top p {
	font-size: 1em;
	color: #575757;
}





/*team content boxes*/
section h1 {
	font-weight: bold;
	font-size: 2em;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	padding-top: 100px;
}

section h2 {
	font-weight: bold;
	font-size: 1.5em;
	color: #575757;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	padding-top: 60px;
	padding-bottom: 0px;
}








/*program descriptions*/

.box {
	display: flex;
	width: 100%;
	padding: 20px;
	padding-left: 90px;
	padding-right: 90px;
}

.struct {
	padding: 30px;
	width: 100%
}

.bio-alt {
  	text-align: center;
  	font-size: 1.2em;
}

.bio-alt h3 {
	padding-top: 50px;
	padding-bottom: 20px;
	color: black;
}

.bio-alt h2 {
	padding: 0px;
	padding-top: 30px;
	font-weight: bolder;
}



.bio-alt {
	border: 2px solid #96ffb8;
	padding: 10px;
	width: 100%;
	box-shadow: 5px 5px #777777;
}

.bio-alt p {
	padding: 40px;
}

.bio-alt a {
	color: #fafaf5;
	background: #19914f;
	padding: 18px;
	border-radius: 36px;
	font-size: 18px;
	margin-bottom: 40px;
}

.bio-alt a:hover {
	transition: 0.3s;
	color: #575757;
	background: #96ffb8;
}


.bio-alt .register-button {
	padding-bottom: 40px;
	padding-top: 40px;
}








/*mission statement*/

section .footer h1 {
	font-size: 2em;
	font-weight: bold;
	color: #fafaf5;
	padding: 30px;
	padding-top: 50px;
}

section .footer p {
	color: #fafaf5;
	padding-left: 3vw;
	padding-right: 3vw;
	font-size: 1.25em;
}





/*descriptions*/


.description {
	margin-top: 0px;
	padding: 200px;
	padding-top: 0px;
	padding-bottom: 80px;
	width: 100%;
	background-color: #fafaf5;
	color: #575757;
  	text-align: center;
  	font-size: 1.2em;
}

.description a {
	display: inline-block;
	color: #fafaf5;
	background: #19914f;
	padding: 18px;
	margin-top: 30px;
	border-radius: 36px;
	font-size: 24px;
	margin-bottom: 0px;
}

.description a:hover {
	transition: 0.3s;
	color: #575757;
	background: #96ffb8;
}

.description h3 {
	padding-top: 80px;
	padding-bottom: 20px;
	color: black;
}

.description h2 {
	padding: 0px;
	padding-top: 80px;
	font-weight: bolder;
}

.description p {
	padding: 40px;
	font-weight: bold;
}

.list {
	padding: 0px;
}

.list p {
	padding: 3px;
}









/*for a variation in background color to differentiate sections*/
.alt-description {
	margin-top: 0px;
	padding: 200px;
	padding-top: 60px;
	padding-bottom: 80px;
	width: 100%;
	background-color: #f1f1ee;
	color: #575757;
  	text-align: center;
  	font-size: 1em;
}

.alt-description h1 {
	padding: 0px;
	padding-top: 30px;
}

.alt-description a {
	color: #19914f;
}

.alt-description a:hover {
	text-decoration: underline;
}

.alt-description h3 {
	padding: 20px;
}

.volunteer {
	margin-top: 0px;
	padding: 200px;
	padding-top: 60px;
	padding-bottom: 80px;
	width: 100%;
	background-color: #19914f;
	color: #fafaf5;
  	text-align: center;
	font-weight: bold;
	font-size: 27px;
}

.volunteer a {
	color: #96ffb8;
}

.volunteer a:hover {
	text-decoration: underline;
	color: #96ffb8;
}


.contact a {
	color: #19914f;
	background: #fafaf5;
	padding: 0px;
}

.contact a:hover {
	color: #19914f;
	text-decoration: underline;
	background: #fafaf5;
}






/*carousel*/


.carousel {
	margin: auto;
	height: 500px;
	width: 800px;
	margin-top: 30px;
	margin-bottom: 70px;
}

.carousel img {
	height: 500px;
	width: auto;
	margin-left: 60px;
	margin-right: 60px;
}


.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}

.flickity-prev-next-button .arrow {
  fill: #575757;
}

.flickity-page-dots {
  bottom: -300px;
}

/* white circles */
.flickity-page-dots .dot {
  
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: #575757;
}












/*image gallery*/
.container-all {
  padding-left: 50px;
  padding-right: 50px;
  margin: 20px;
  display: block;
  position:relative;
}

.container {
  width: 400px;
  height: 250px;
  margin:3px;
  display: inline-block;
  position: relative;

}

.container img {
  width: 400px;
  height: 250px;
  transition-duration: .3s;
  max-width: 100%;
  display:block;
}

.container .title {
  position:absolute;
  top: 70%;
  cursor:pointer;
  max-width: 80%;
  text-align:center;
  left: 50%;
  text-shadow: 1px 5px 10px black;
  font-size: 1.1em;
  display:none;
  margin-right: -50%;
  transition-duration: .3s;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.container .text {
  position:absolute;
  top: 85%;
  cursor:pointer;
  max-width: 80%;
  text-align:center;
  left: 50%;
  text-shadow: 1px 5px 10px black;
  font-size: 0.8em;
  display:none;
  margin-right: -50%;
  transition-duration: .3s;
  transform: translate(-50%, -50%);
}

.container:hover img{
  transition-duration: .3s;
  filter: brightness(60%);
}

.container:hover span {
  color:white;
  display: block;
  transition-duration: .3s;
}








/*banners*/
.footer {
	margin-top: 0px;
	padding-top: 60px;
	padding-bottom: 60px;
	width: 100%;
	background-color: #19914f;
	color: white;
  	text-align: center;
  	display: block;
}

.footer p {
	color: #96ffb8;
	padding: 5px;
}

.footer a {
	color: #96ffb8;
}

.footer h1 {
	color: #19914f;
}

.footer a:hover {
	color: #fafaf5;
	text-decoration: underline;
}









/*real footer*/
.footer-real {
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 10px;
	width: 100%;
	background-color: #19914f;
	color: white;
	display: flex;
}

.footer-real p {
	color: #96ffb8;
	padding: 5px;
	font-size: 18px;
	padding-left: 100px;
	padding-top: 10px;
	float: left;
	width: 100%;
}

.social-links {
	padding-right: 0px;
	height: 53px;
	width: 30%;
	float: right;
	margin: 0 0;
	color: #96ffb8;
}

.social-links i {
	padding: 12px;
	color: #96ffb8;
}

.social-links i:hover {
  	transition-duration: .3s;
	color: white;
}













/*expand button*/
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 100px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check{
	display: none;
}




@media (max-width: 1200px) {

	.profile {
		padding-left: 40px;
	}

	.box {
		padding-left: 20px;
		padding-right: 20px;
	}

	.description, .alt-description, .volunteer {
		padding-right: 50px;
		padding-left: 50px;
	}


}








/*smaller size*/
@media (max-width: 1200px) {
	body{
		padding-top: 0px;
	}
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}

	nav ul li a{
		font-size: 15px;
	}

	.centered {
 		width: 100%;
 		height: 70vh;
	}

	.box {
		padding: 10px;
		align-items: center;
	}

	.struct {
		padding: 10px;
		display: block;
	}

	.top {
		display: block;
	}


	.description, .alt-description, .volunteer {
		padding-right: 20px;
		padding-left: 20px;
	}


	.container {
		width: calc(50% - 6px);
		
	}

	.container-all {
		display: block;
	}


}





/*phone width*/
@media (max-width: 1000px){
	.checkbtn{
		display: block;
		color: #575757;
	}

	label.logo{
		font-size: 30px;
		padding-left: 20px;
	}

	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #fafaf5;
		top: 100px;
		left: -100%;
		text-align: center;
		transition: all 0.5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}

	nav ul li a{
		font-size: 20px;
	}

	a:hover{
		color: #19914f;
	}

	#check:checked ~ ul{
		left: 0;
	}

	.centered {
 		width: 100%;
 		height: 50vh;
        font-size: 3vw;
	}

	.centered h1 {
		font-size: 4vw;
	}

	.centered p {
		font-size: 2.5vw;
	}

	.centered a {
		font-size: 2.5vw;
	}

	.centered .last-section {
		font-size: 2.5vw;
		padding-bottom: : 13px;
		border-radius: 26px;
	}

	.struct {
		width: 100%;
	}

	.box {
		display: block;
	}

	.description, .alt-description, .volunteer {
		padding-right: 20px;
		padding-left: 20px;
	}

	label.logo img {
		height: 40px;
	}

	.container-all {
		display: block;
	}

	.container, .container img {
		height: 200px;
		width: 125px;
	}

	.people, .people-top {
		display: block;
		margin: auto;
	}

	.person, .person-top {
		margin: auto;
		padding: 10px;
	}

	.footer-real {
		display: block;
		margin: auto;
		width: 100%;
		height: 175px;
	}


	.footer-real p {
		margin: auto;
		width: 100%;
		display: block;
		text-align: center;
		padding-left: 0px;
		padding-right: 0px;
	}

	.social-links {
		margin: 0px auto;
		width: 200px;
		float: none;
		text-align: center;
	}


	.carousel {
		width: 300px;
		height: auto;
	}

	.carousel img {
		width: 250px;
		height: auto;
		margin: 0px 50px;
	}

	.flickity-prev-next-button {
 		width: 10px;
  		height: auto;
	}


}

@media(max-width: 450px) {
	.container {
		width: 400px;
		height: 250px;
	}

	.container-all {

		display: block;
	}

	.container img {
		width: 390px;
		height: 245px;
	}
}


