@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Play:wght@700&display=swap');

*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
}


nav{
	background: #009dff;
	height: 100px;
	width: 100%;
	position: fixed;
}

label.logo{
	color: #e94f37;
	font-size: 40px;
	line-height: 100px;
	padding: 0 60px;
	font-weight: bold;
	font-family: 'Play', sans-serif;
}

nav ul{
	float: right;
	margin-right: 40px;
}

nav ul li{
	display: inline-block;
	line-height: 100px;
	margin: 0 5px;
}

nav ul li a{
	color: white;
	font-size: 20px;
	font-weight: bold;
}

a:hover{
	transition: 1s;
	color: #e94f37;
}

.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 100px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check{
	display: none;
}

@media (max-width: 952px) {
	body{
		padding-top: 0px;
	}
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}

	nav ul li a{
		font-size: 16px;
	}
}

@media (max-width: 858px){
	.checkbtn{
		display: block;
	}

	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #393e41;
		top: 100px;
		left: -100%;
		text-align: center;
		transition: all 1s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}

	nav ul li a{
		font-size: 20px;
	}

	a:hover{
		color: #e94f37;
	}

	#check:checked ~ ul{
		left: 0;
	}
}

section {
	padding-top: 100px;
}
