html {
	scroll-behavior: smooth;
}

table {
	display: inline-block;
}

.accordion {
	width: 50%;
	margin: 0px auto;
}


.accordion-item {
	margin: 15px;
}

.accordion a {
	font-weight: 500;
	display: block;
	width: 100%;
	padding: 20px;
	font-size: 24px;
	background-color: rgba(150, 255, 184, 0.3);
	color: rgba(255, 255, 255, 1);
	text-shadow: 0px 3px 5px #222222;
	text-decoration: none;
 	border: 4px solid rgba(150, 255, 184, 1);
 	border-radius: 15px;
 	color: white;
}

.accordion a:hover, .accordion a.active {
	transition-duration: 0.5s;
	background-color: rgba(150, 255, 184, 1);
	text-shadow: none;
	color: #575757;
}

.accordion .content {
	padding-top: 10px;
	font-size: 16px;
	color: white;
	opacity: 0;
	overflow: hidden;
	max-height: 0px;
}

.accordion .content.active {
	transition-duration: 0.5s;
	opacity: 1;
	max-height: 100%;
	-webkit-transition: all 0.2s ease 0.15s;
  	-o-transition: all 0.2s ease 0.15s;
  	transition: all 0.2s ease 0.15s;
}

.accordion .content a {
	font-size: 20px;
	color: #96ffb8;
	background-color: #19914f;
	padding: 0px;
	border-color: #19914f;
	display: inline;
}

.accordion .content a:hover {
	color: white;
	transition-duration: 0.3s;
}

@media (max-width: 1000px) {
	.accordion {
		width: 90%;
	}
}

.centered {
	background-image: url(../images/background4.jpg);
}

.centered h1 {
	color: #96ffb8;
	font-size: 4em;
	text-shadow: 0px 3px 5px #222222;
}

.centered  p {
	color: white;
	text-shadow: 0px 3px 5px #222222;
}

.centered a:hover {
	
	text-shadow: none;
}

.centered a {
	letter-spacing: 1px;
	transition-duration: 0.5s;
	border-style: solid;
	border-width: 4px;
	border-color: rgba(150, 255, 184, 1);
	border-radius: 12px;
	background-color: rgba(150, 255, 184, 0.3);
	color: rgba(255, 255, 255, 1);
	text-shadow: 0px 3px 5px #222222;
	font-size: 1.5em;
	margin: 15px 0px;
}

.description {
	padding-bottom: 0px;
}


.box h2 {
	font-size: 26px;
	padding-top: 20px;
}

.box {

	width: 100%;
	margin: 0px;
}

.struct {
	margin: 0px;
	padding: 10px;
}

.bio-alt {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	border-radius: 15px;
	border-width: 3px;
	padding: 15px 0px;
	margin: 0px;
	width: 100%;
}

section h1 {
	font-size: 32px;
}


.hack-team {
	width: 90%;
	margin: auto;
}

.footer h2 {
	color: #fafaf5;
	text-shadow: 0px 3px 5px #222222;
}

table {
	border-collapse: collapse;
	text-align: left;
	padding-top: 10px;
}

td, tr {
	padding: 10px 20px;
}
